html, body {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #eee;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    margin: 4px 0;
}

p {
    margin: 4px 0;
    text-indent: 40px;
    text-align: justify;
}

.centerText {
    text-align: center;
}

.littleGray {
    color: gray;
    font-size: 12px;
}

.demo {
    margin: 40px 0;
}